.tableitems--main{
    background-color: var(--background-color);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    top: 12%;
    right: 10%;
    padding: 2%;
    width: 75%;
    height: 85%;

    @media (max-width:815px) {
        top: 17%;
        height: 75%;
    }

    @media (max-width:480px) {
        width: 100%;
        right: 0%;
    }

}

.tableitems--interior-body{
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    gap: 8%;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-left: 20px;
    

    @media (max-width:980px) {
        overflow-x: hidden;
        overflow-y: scroll;
        grid-template-columns: 1fr;
        padding-left: 20%;
    }

    @media (max-width: 815px) {
        padding: 10px;
        padding-top: 50px;
    }
}

.tableitems--interior-body::-webkit-scrollbar{
    background-color: var(--background-color-deg-1);
    border-radius: 5px;
    width: 10px;
}

.tableitems--interior-body::-webkit-scrollbar-thumb{
    background-color: var(--text);
    border-radius: 5px;
}

.tableitems--pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    width: 100%;

    .tableitems--animation-toleft{
        animation: toleft 3s;
        @keyframes toleft {
            0%{transform: translateX(-1600px);}
            50%{transform: translateX(-1600px);}
            80%{transform: translateX(30px);}
            100%{transform: translateX(0px);}
        }
    }
    
    .tableitems--animation-toright{
        animation: toright 3.5s;
        @keyframes toright {
            0%{transform: translateX(1600px);}
            50%{transform: translateX(1600px);}
            80%{transform: translateX(-30px);}
            100%{transform: translateX(0px);}
        }
    }

}

.tableitems--pagination-container{
    background-color: var(--background-color);
    box-shadow: 0 0 3px inset var(--primary);
    margin: 10px;
    width: 30px;
    height:30px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    transition-duration: 0.3s;
    cursor: pointer;    
    
    @media (max-width:815px) {
        margin-top: 20px;
    }

    &:hover{
        box-shadow: 0 0 10px inset var(--primary);
    }
}

.tableitems--pagination-control{
    color: var(--text);
    cursor: pointer;
}






