.tableitems--main{
    background-color: var(--background-color);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    top: 12%;
    right: 10%;
    padding: 2%;
    width: 75%;
    height: 85%;

    @media (max-width:815px) {
        top: 17%;
        height: 75%;
    }

    @media (max-width:480px) {
        width: 100%;
        right: 0%;
    }

}

.tableitems--interior-body{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8%;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;

    @media (max-width:980px) {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
}

.tableitems--interior-body::-webkit-scrollbar-track-piece{
    color: red;
}

.tableitems--pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
}

.tableitems--pagination-container{
    background-color: var(--primary);
    margin: 10px;
    width: 30px;
    height:30px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;    
    
    @media (max-width:815px) {
        margin-top: 20px;
    }
}

.tableitems--pagination-control{
    color: white;
    cursor: pointer;
}