$background-color: #FDFCFC ;
$background-color-deg-1: #888585;
$primary: #1F1FCC;
$primary-deg-1:#4C4CC2;
$secondary:#4FA834;
$secondary-deg-1:#6AF540;
$text: #2E2D2D;
$text-deg-1:#706E6E;

.light{

}

.dark{
    
}