@import './globals.scss';

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: $background-color;
  height: 100%;
}

.general--frame{
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.center-container-limits{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width:815px) {
  .center-container-limits{
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}
