
@keyframes popRight {
    0%{transform: translateX(1600px);}
    50%{transform: translateX(1600px);}
    80%{transform: translateX(-110px);}
    100%{transform: translateX(0px);}
}

@keyframes popLeft {
    0%{transform: translateX(-1600px);}
    50%{transform: translateX(-1600px);}
    80%{transform: translateX(110px);}
    100%{transform: translateX(0px);}
}

.profile--main{
    width: 100%;
    height: 100vh;
    padding-top: 5%;
    background-color: var(--background-color);
        
    @media (max-width:900px) {
        padding-top: 15%;
    }

    @media (max-width:815px) {
        padding-top: 30%;
    }

    @media (max-width:425px) {
        padding-top: 50%;
    }

    @media (max-width:385px) {
        padding-top: 60%;
    }

    overflow-x: hidden;
    overflow-y: scroll;
}

.profile--main-container, .profile--main-container-toright{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 25%;
    width: 50%;

    @media (max-height:565px) {
        gap: 0px;
    }   
    @media (max-width:400px) {
        height: 400px;
    }
    
    @media (max-width:900px) {
        margin-top: 1%;
        width: 100%;
        height: 300px;
    }
}

.profile--main-enterprises{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    background-color: red;
}

.profile--main-container-toright{
    animation: 1s pop forwards;

    @keyframes pop {
        0%{transform: translateX(0px);}
        100%{transform: translateX(2000px);}
    }
}

.profile--main-center{
    position: absolute;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 19%;
    left: 20%;
    width: 50%;
    height: 70%;
    overflow-x: hidden;
    overflow-y: scroll;

    @media (max-width:900px) {
        top: 20%;
        align-items: baseline;
    }
    @media (max-width:760px) {
        top: 30%;
        width: 99%;
        left: 1%;
        align-items: baseline;
    }
}

.profile--main-center::-webkit-scrollbar{
    background-color: var(--background-color-deg-1);
    border-radius: 5px;
    width: 10px;
}

.profile--main-center::-webkit-scrollbar-thumb{
    background-color: var(--text);
    border-radius: 5px;
}

.profile--slot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -200px;
    margin-left: 10%;
    width: 100%;
}

.profile--label{
    font-weight: bolder;
    color: var(--primary);
    text-shadow: 0 0 4px var(--primary-deg-1);
    font-size: 35px;
    animation: popLeft 1s forwards;

    @media (max-height:565px) {
        font-size: 15px;
    }

    @media (max-width:565px) {
        font-size: 15px;
    }
}

.profile--text{
    font-size: 35px;
    font-weight: bolder;
    color: var(--text);
    text-shadow: 0 0 4px var(--text-deg-1);
    animation: popRight 1s forwards;

    @media (max-height:565px) {
        font-size: 15px;
    }

    @media (max-width:565px) {
        font-size: 15px;
    }
}

.profile--title{
    font-size: 35px;
    margin-top: 10%;
    text-transform: uppercase;
    animation: popLeft 1s forwards;

    @media (max-height:565px) {
        margin-top: 5%;
    }

    @media (max-width:400px) {
        font-size: 25px;
    }
}

.profile--button, .profile--button-left{
    border: none;
    outline: none;
    width: 60%;
    height: 50px;
    margin-top: 10px;
    background-color: transparent;
    color: var(--text);
    box-shadow: 0 0 3px var(--primary);
    font-size: 30px;
    padding-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.2s;

    &:hover{
        background-color: var(--primary);
        box-shadow: 0 0 13px var(--primary);
    }

    @media (max-width:900px) {
        font-size: 15px;
        height: 30px;
    }

    @media (max-width:400px) {
        width: 100%;
    }
}

.profile--button-left{
    animation: popLeft 1s forwards;
    
    &:hover{
        color: white;
    }
}

.profile--button{
    color: var(--text);
    box-shadow: 0 0 3px red;
    animation: popRight 1s forwards;

    &:hover{
        background-color: red;
        color: white;
        box-shadow: 0 0 13px red;
    }
}

.profile--button-center{
    width: 50%;
    margin-left: 30%;
    margin-top: -10px;
}