
.landpage--main{
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    transition-duration: 0.2s;
    

    @media (max-wdith:650px) {
        flex-direction: column-reverse;
    }
}

.landpage--img-container{
    width: 70%;

    @media (max-width:650px) {
        width: 100%;
    }
}

.landpage--rocket{
    transform: translateY(1009px);
    margin-left: 20%;
    width: 60%;
    animation: toTop 1s forwards;

    @keyframes toTop {
        0%{transform: translateY(1009px);}
        50%{transform: translateY(1009px);}
        100%{transform: translateY(100px);}
    }

    @media (max-width:900px) {
        width: 50%;
        @keyframes toTop {
            0%{transform: translateY(1009px);}
            50%{transform: translateY(1009px);}
            100%{transform: translateY(200px);}
        }
    }

    @media (max-width:650px) {
        margin-left: 19.5%;
        
        @keyframes toTop {
            0%{transform: translateY(1009px);}
            50%{transform: translateY(1009px);}
            100%{transform: translateY(190px);}
        }
    }

    @media (max-width:350px) {
        width: 70%;
    }
}

.landpage--text-container{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 0%;
    height: 0%;
    padding: 0%;
    border-radius: 50%;
    z-index: 0;
    overflow: hidden;
    animation: 1s looney ease-in forwards;

    @keyframes looney {
        70%{width: 0%; height: 0%; padding: 0%; top: 30%; overflow: hidden;}
        99%{width: 35%; height: 80%; padding: 5%; top: 10%; overflow: hidden;}
        100%{width: 35%; height: 80%; padding: 5%; top: 10%; overflow: visible;}
    }

    @media (max-width:1100px) {
        top: 35%;

        @keyframes looney {
        70%{width: 0%; height: 0%; padding: 0%; top: 35%; overflow: hidden;}
        99%{width: 35%; height: 80%; padding: 5%; top: 15%; overflow: hidden;}
        100%{width: 35%; height: 80%; padding: 5%; top: 15%; overflow: visible;}
        }
    }

    @media(max-width:650px){
        top: 80%;
        left: 30%;

        @keyframes looney {
            70%{width: 0%; height: 0%; padding: 0%; top: 35%; overflow: hidden;}
            99%{width: 35%; height: 35%; padding: 5%; top: 60%; overflow: hidden;}
            100%{width: 35%; height: 35%; padding: 5%; top: 60%; overflow: visible;}
            }
    }

    @media (max-width: 350px) {
        @keyframes looney {
            70%{width: 0%; height: 0%; padding: 0%; top: 35%; overflow: hidden;}
            99%{width: 35%; height: 35%; padding: 5%; top: 60%; overflow: hidden;}
            100%{width: 80%; height: 35%; padding: 0%; top: 60%; left:20%;overflow: visible;}
            }
    }
}

.landpage--text, .landpage--text-1{
    position: absolute;
    top: 20%;
    font-size: 50px;
    color: var(--text);

    @media (max-width:1100px) {
        font-size: 30px;       
    }

    @media (max-width: 650px){
        top:30%;
    }
}

.landpage--text-1{
    position: absolute;
    top: 30%;
    color: var(--primary);
    font-size: 100px;

    @media (max-width:1100px) {
        top: 25%;
        font-size: 50px;
    }

    @media (max-width: 650px){
        top:40%;
    }
}

.landpage--button{
    position: absolute;
    top: 50%;
    width: 65%;
    height: 50px;
    background-color: var(--primary);
    color: var(--background-color);
    box-shadow: 0 0 5px var(--background-color-deg-1),
    0 0 15px var(--primary-deg-1) inset;
    margin-top: 10px;
    font-size: 40px;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    transition-duration: 0.2s;
    cursor: pointer;

    &:hover{
        background-color: var(--secondary);
        text-shadow: 0 0 2px var(--background-color);
        box-shadow: 0 0 15px var(--secondary-deg-1) inset,
        0 0 15px var(--background-color-deg-1);
    }

    @media (max-width:1100px) {
        top: 35%;
    }

    @media (max-width: 650px){
        top:65%;
    }
}