@import '../../assets/scss/globals.scss';

.landpage--main{
    background-color: transparent;
    width: 100%;
    height: 91.6vh;
    padding-top: 20px;
    display: flex;
    flex-direction: row;

    @media (max-wdith:650px) {
        flex-direction: column-reverse;
    }
}

.landpage--img-container{
    width: 70%;

    @media (max-width:650px) {
        width: 100%;
    }
}

.landpage--rocket{
    transform: translateY(1009px);
    margin-left: 20%;
    width: 60%;
    animation: toTop 2s forwards;

    @keyframes toTop {
        0%{transform: translateY(1009px);}
        50%{transform: translateY(1009px);}
        100%{transform: translateY(100px);}
    }

    @media (max-width:650px) {
        margin-left: 19.5%;
        
        @keyframes toTop {
            0%{transform: translateY(1009px);}
            50%{transform: translateY(1009px);}
            100%{transform: translateY(0px);}
        }
    }
}

.landpage--text-container{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 0%;
    height: 0%;
    padding: 0%;
    border-radius: 50%;
    z-index: 0;
    overflow: hidden;
    animation: 2s looney ease-in forwards;

    @keyframes looney {
        70%{width: 0%; height: 0%; padding: 0%; top: 30%;}
        100%{width: 35%; height: 80%; padding: 5%; top: 10%;}
    }

    @media (max-width:1100px) {
        top: 35%;

        @keyframes looney {
        70%{width: 0%; height: 0%; padding: 0%; top: 35%;}
        100%{width: 35%; height: 80%; padding: 5%; top: 15%;}
        }
    }

    @media(max-width:650px){
        top: 80%;
        left: 30%;

        @keyframes looney {
            70%{width: 0%; height: 0%; padding: 0%; top: 35%; overflow: hidden;}
            100%{width: 35%; height: 35%; padding: 5%; top: 60%; overflow: visible;}
            }
    }
}

.landpage--text, .landpage--text-1{
    position: absolute;
    top: 20%;
    font-size: 50px;
    color: $text;

    @media (max-width:1100px) {
        font-size: 30px;       
    }

    @media (max-width: 650px){
        top:30%;
    }
}

.landpage--text-1{
    position: absolute;
    top: 30%;
    color:$primary;
    font-size: 100px;

    @media (max-width:1100px) {
        top: 25%;
        font-size: 50px;
    }

    @media (max-width: 650px){
        top:40%;
    }
}

.landpage--button{
    position: absolute;
    top: 50%;
    width: 65%;
    height: 50px;
    background-color: $primary;
    color: $background-color;
    box-shadow: 0 0 5px $background-color-deg-1,
    0 0 15px $primary-deg-1 inset;
    margin-top: 10px;
    font-size: 40px;
    font-weight: bolder;
    border: none;
    outline: none;
    border-radius: 10px;
    transition-duration: 0.2s;
    cursor: pointer;

    &:hover{
        background-color: $secondary;
        text-shadow: 0 0 2px $background-color;
        box-shadow: 0 0 15px $secondary-deg-1 inset,
        0 0 15px $background-color-deg-1;
    }

    @media (max-width:1100px) {
        top: 35%;
    }

    @media (max-width: 650px){
        top:65%;
    }
}