.filter--main{
    position: absolute;
    top: 10%;
    left:10%;
    background-color: red;
    width: 30%;
    height: 80%;
    margin: auto;
}

.filter--button-show{
    position:absolute;
    background-color: red;
    border: none;
    outline: none;
    right: -20px;
    height: 50%;
    border-radius: 0px 10px 10px 0px;
}

.filter--button-show-label{
    height: 12%;
    font-size: 20px;
    transform: rotateZ(90deg);
    text-align: center;
    font-weight: bolder;
}
























