.form--tobottom {
    position: absolute;
    padding-top: 10px;
    top: 110px;
    gap: 10px;
    overflow: hidden;
}



.section--inputs{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
}
label{
    color: white;
    text-align: right;
    align-self: center;
}
.form--input{
    width: 500px;
}



textarea {
    resize:vertical;
    overflow: hidden;
    min-height: fit-content;
}

.form--main {
    background-color: var(--background-color);
    height: 100vh;
}

.form--main{
    @media (max-width: 815px) {
        top: 200px;
        input {
            width: 90%;
        }
        textarea {
            width: 90%;
        }
     }
}

.section--inputs{
    @media(max-width: 815px) {
        display: flex;
        flex-direction: column;
    }
    .form--input{
        width: 100%;
    }
}
