.results--main{
    background-color: var(--background-color);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    top: 12%;
    right: 10%;
    padding: 2%;
    width: 75%;
    height: 85%;

    @media (max-width: 815px) {
        width: 100%;
        top: 17%;
        right: 0%;
        height: 75%;
    }

    @media (max-width: 480px) {
        right: 0%;
    }
}

.tableitems--interior-body-results{
    background-color: var(--background-color);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    top: 12%;
    right: 10%;
    padding: 2%;
    width: 75%;
    height: 85%;

    @media (max-width: 815px) {
        width: 100%;
        top: 17%;
        right: 0%;
        height: 75%;
    }

    @media (max-width: 480px) {
        right: 0%;
    }
}