
.bodyheader--main{
    width: 100%;
    height: 70px;
    background-color: transparent;
    box-shadow: 0 0 3px rgb(175, 173, 173),
    0 -5px 1px rgb(31, 31, 204) inset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    transition-duration: 0.2s;
}

.bodyheader--body-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3%;
    width: 25%;
    height: 50%;
    transition-duration: 0.2s;
    transform: translateX(-500px);
}

.bodyheader--icon-enterprise{
    border: none;
    outline: none;
    background-color: rgb(61, 61, 209);
    box-shadow: 0 0 3px grey, 
    0 0 4px rgb(104, 82, 247) inset;
    height: 80%;
    width: 30px;
    font-size: 20px;
    font-weight: bolder;
    color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.bodyheader--icon-enterprise:hover{
    background-color: rgb(31, 31, 204);
    box-shadow: 0 0 5px grey, 
    0 0 2px rgb(104, 82, 247) inset;
    text-shadow: 0 0 2px white;
}

.bodyheader--input-text{
    width: 50%;
    max-width: auto;
    height: 80%;
    border: none;
    outline: none;
    background-color: rgb(245, 239, 239);
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    padding: 5px 20px;
    box-shadow: 0 0 3px grey;
    transition: 0.2s;
}

.bodyheader--input-text:focus{
    box-shadow: 0 0 6px grey;
    background-color: white;
}

.bodyheader--input-text:hover{
    box-shadow: 0 0 6px grey;
}

.bodyheader--input-text::placeholder{
    font-style: italic;
    font-size: 15px;
}

.bodyheader--menu-main{
    display: flex;
    flex-direction: row;
    width: 30%;
}

.bodyheader--menu-link{
    color: rgb(24, 23, 23);
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
    transition-duration: 0.3s;
    cursor: pointer;
    transform: translateX(600px);
}

.bodyheader--menu-link:hover{
    background-color: rgb(31, 31, 204);
    text-shadow: 0 0 3px white;
    color: white;
    font-weight: bolder;
}

.bodyheader--menu-link:first-child{
    border-radius: 5px 0px 0px 0px;
}

.bodyheader--menu-link:last-child{
    border-radius: 0px 5px 0px 0px;
}

@media (max-width: 1100px) {
    .bodyheader--input-text{
        padding: 1px;
    }

    .bodyheader--input-text::placeholder{
        font-size: 15px;
    }
}

@media (max-width: 811px) {
    .bodyheader--main{
        align-items: center;
        margin: auto;
        gap: 1px;
    }

    .bodyheader--body-search{
        width: 50%;
    }

    .bodyheader--menu-main{
        width: 50%;
    }
}

@media (max-width: 720px) {
    .bodyheader--main{
        flex-direction: column;
        height: 160px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .bodyheader--icon-enterprise{
        width: 50px;
    }

    .bodyheader--body-search{
        width: 100%;
        height: 50%;
        padding-top: 20px;
    }

    .bodyheader--menu-main{
        width: 100%;
        height: 50%;
        margin: auto;
    }

    .bodyheader--menu-link{
        width: 100%;
    }
}

@media (max-width:360px) {
    .bodyheader--icon-enterprise{
        width: 30px;
        height: 30px;
    }

    .bodyheader--input-text{
        height: 30px;
    }

    .bodyheader--menu-link{
        gap: 1px;
    }

    .bodyheader--menu-link{
        font-size: 18px;
        padding: 20px 5px;
        height: 100%;
        margin: auto;
    }
}