.form--register {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form--register > input {
    padding: auto;
    margin: 1px;
}